@{
    Layout = null;
}

@model LoginModel

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Bookstore Login</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-l-2">BOOKSTORE</span>
    </div>

    <div class="m-1 p-1">

        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login" class="jumbotron"
              style="background-color: lightblue; opacity: 0.9; width: 500px; align-content: center;
                justify-content: center; align-items: center; position: relative; display:block; margin: auto;">

            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" class="form-control" style="width: 200px; align-items:center;
                    text-align: center; justify-content: center; position: relative; display: block; margin: auto;" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" style="width: 200px; align-items:center;
                    text-align: center; justify-content: center; position: relative; display: block; margin: auto;"/>
            </div><br />

            <button class="btn btn-primary rounded-circle" type="submit" style="align-items:center;
                    text-align: center; justify-content: center; position: relative; display: block; margin: auto;">Login</button>
            <br />
            <input type="hidden" asp-for="ReturnUrl"/>

        </form>

    </div>

</body>

</html>